<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nugrs.pointeproductsapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PointeProductsApp">
        <activity android:name=".XCustomerAccountCreated"></activity>
        <activity android:name=".XCreateCustomer" />
        <activity android:name=".XExistingCustomerPayment" />
        <activity android:name=".XGuestUserPayment" />
        <activity android:name=".XSingleRow" />
        <activity android:name=".XSecureCheckout" />
        <activity android:name=".XPurchaseCheck" />
        <activity android:name=".XProduct1" />
        <activity android:name=".XList" />
        <activity android:name=".XHomePage" />
        <activity android:name=".XNewSplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateCustomer" />
        <activity android:name=".ExistingCustomerPayment" />
        <activity android:name=".GuestUserPayment" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivityPayment" />
    </application>

</manifest>